certifi==2023.11.17 ; python_full_version >= "3.10.0" and python_version < "3.11"
charset-normalizer==3.3.2 ; python_full_version >= "3.10.0" and python_version < "3.11"
idna==3.6 ; python_full_version >= "3.10.0" and python_version < "3.11"
python-decouple==3.8 ; python_full_version >= "3.10.0" and python_version < "3.11"
requests==2.31.0 ; python_full_version >= "3.10.0" and python_version < "3.11"
telegram==0.0.1 ; python_full_version >= "3.10.0" and python_version < "3.11"
urllib3==2.1.0 ; python_full_version >= "3.10.0" and python_version < "3.11"
